---
http_interactions:
- request:
    method: get
    uri: https://app.imdb.com/title/maindetails?tconst=tt9999999&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"@meta\":{\"serverTimeMs\":26,\"requestId\":\"0ZA85FGKEH3KEP27AMDG\"},\"db\":{\"h\":\"ioa704\",\"s\":\"badsig\",\"i\":\"2014-02-08\"},\"error\":{\"status\":404,\"code\":\"badtitle\",\"message\":\"No
        data for this title id.\"},\"@type\":\"mobile.service.error\"}"
  recorded_at: Sun, 09 Feb 2014 13:09:54 GMT
recorded_with: VCR 2.8.0
